.reg {
  padding: 32px;
  padding-bottom: 100px;
  background: url("/reg_bg.svg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: calc(550px+30%);

  &-logo {
    width: 400px;
    margin: 0 auto;
  }

  &-inner {
    margin: 0 auto;
    padding: 32px;
    width: 80%;
    min-height: 550px;
    border-radius: 50px;
    background-color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 30px 30px $dark-blue;
  }

  &_title {
    padding: 0 40px;
    h2 {
      color: $blue;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 900;
    }
  }

  &_row {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .row {
      width: 200px;
    }
  }

  &_item {
    border: 2px solid $blue;
    border-radius: 10px;
    width: 475px;
    position: relative;
    padding: 10px;
    margin-top: 20px;

    > span {
      padding: 0 5px;
      position: absolute;
      background-color: white;
      top: -10px;
      color: $blue;
    }

    > input {
      font-family: Arial;
      font-size: 16px;
      color: $dark-blue;
      border: none;
      outline: none;
    }
  }

  .town {
    border: none;
    padding: 10px 0;

    > span {
      position: absolute;
      top: 1px;
      left: 13px;
    }
  }

  .select-show {
    padding: 15px;
    width: 465px;
    border: 2px solid $blue;
    border-radius: 10px;
    background-color: white;
  }

  &-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 64px 0;

    a {
      text-decoration: none;
    }
  }

  &_button {
    cursor: pointer;
    border-radius: 20px;
    font-family: Arial;
    font-size: 24px;
    color: white;
    text-decoration: none;

    &:first-child {
      background-color: $green;
      padding: 20px 70px;
    }

    &:last-child {
      background-color: $dark-blue;
      padding: 20px 30px;
    }
  }

  .select-dropdown_inner {
    width: 300px;
  }
}

.reg-login {
  box-shadow: 30px 30px $green;
  height: 300px;
}

.valid {
  border: 2px solid red;
  border-radius: 10px;
  width: 475px;
  position: relative;
  padding: 10px;
  margin-top: 20px;

  > span {
    position: absolute;
    background-color: white;
    top: -10px;
    color: red;
  }

  > input {
    font-family: Arial;
    font-size: 16px;
    color: $dark-blue;
    border: none;
    outline: none;
  }
}

@media all and (max-width: 500px) and (min-width: 300px){
  .reg{
    padding: 3px;
    background-size: cover;
    height: auto;

    &-logo{
      width: 60%;
    }

    &-inner{
      border-radius: 30px;
      padding: 5px;
      box-shadow: 10px 10px $dark-blue;
      width: 90%;
      height: 420px;
    }

    &_title{
      padding: 0 10px;

      h2{
        font-size: 20px;
      }
    }

    &_row{
      width: 210px;

      .row{
        width: 90px;

        >input{
          width: 90px;
          font-size: 12px;
        }
      }
    }

    &_item{
      width: 200px;
      padding: 5px;

      >span{
        font-size: 12px;
      }

      >input{
        width: 180px;
        font-size: 12px;
      }
    }

    .select-show{
      width: 180px;
      border-radius: 20px;
    }

    .select-dropdown_inner{
      width: 150px;
    }

    .reg-login {
      box-shadow: 10px 10px $green;
      height: 200px;
    }

    &-buttons{
      padding: 30px 5px;
    }

    &_button{
      font-size: 15px;

      &:first-child {
        background-color: $green;
        padding: 10px 35px;
      }
  
      &:last-child {
        background-color: $dark-blue;
        padding: 10px 15px;
      }
    }
  }

  .reg-all-login{
    padding: 40px 12px;
  }
}