.postmodal{
    z-index: 15;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.5);

    &-inner{
        margin: 0 auto;
        margin-top: 100px;
        padding: 20px 70px;
        width: 50%;
        border-radius: 30px;
        background-color: white;
    }

    &-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        &_user{
            display: flex;
            flex-direction: row;

            &-avatar{
                padding-right: 15px;
                img{
                    width: 120px;
                    height: 120px;
                }
            }

            &-info{
                display: flex;
                flex-direction: column;

                h2{
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-family: Arial;
                    color: $dark-blue;
                }

                .select{
                    &-show{
                        background-color: white;
                        border-radius: 10px;
                    }

                    &-dropdown{
                        &_inner{
                            border: 2px solid $green;
                            border-top-right-radius: 0;
                        }
                    }
                }
            }
        }

        &_img{
            margin-right: 25px;
            margin-top: 30px;
            color: $green;
            font-size: 14px;
            font-family: Arial;
            border: 2px solid $green;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;

            img{
                padding-left: 40px;
                width: 15px;
                height: 15px;
            }
        }
    }

    &-desc{
        textarea{
            width: 94%;
            resize: none;
            outline: none;
            border-radius: 20px;
            border: 2px solid $blue;
            padding: 20px 10px;
            font-size: 16px;
            color: $blue;
            font-family: Arial;

            &::placeholder{
                color: $blue;
                font-family: Arial;
                font-size: 16px;
            }
        }
    }

    &-buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-button{
        border-radius: 25px;
        font-size: 20px;
        font-family: Arial;
        margin-top: 20px;
        cursor: pointer;

        &:first-child{
            padding: 10px 60px;
            border: 2px solid $orange;
            background: rgba($color: $orange, $alpha: 0.4);
            color: $orange;
        }

        &:last-child{
            margin-right: 22px;
            padding: 10px 40px;
            border: 2px solid $dark-blue;
            background: $bg-blue;
            color: $dark-blue;
        }

        img{
            width: 15px;
            height: 15px;
            padding-right: 5px;
        }
    }
}

@media all and (min-width: 300px) and (max-width: 500px){
    .postmodal{
        &-inner{
            margin-top: 20px;
            padding: 10px;
            width: 80%;
        }

        &-top{
            display: block;
            &_user{
                &-avatar{
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }

                &-info{
                    margin-top: -10px;
                    h2{
                        font-size: 16px;
                    }

                    .select{
                        &-show{
                            width: 145px;
                        }
                    }
                }
            }

            &_img{
                margin-left: 5px;
                padding: 7px;
                width: 210px;

                img{
                    padding-left: 60px;
                }
            }
        }

        &-desc{
            width: 95%;
            padding: 10px 5px;

            textarea{
                font-size: 12px;

                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        &-buttons{
            margin-left: 10px;
        }

        &-button{
            border-radius: 15px;
            font-size: 15px;

            &:first-child{
                padding: 5px 15px;
                border: 2px solid $orange;
                background: rgba($color: $orange, $alpha: 0.4);
                color: $orange;
                margin-right: 25px;
            }
    
            &:last-child{
                padding: 5px 5px;
                border: 2px solid $dark-blue;
                background: $bg-blue;
                color: $dark-blue;
            }
    
            img{
                display: none;
                width: 12px;
                height: 12px;
                padding-right: 5px;
            }
        }
    }
}