.post {
  width: 120%;
  display: flex;
  flex-direction: column;

  &__top {
    width: 75%;
    height: 250px;
    background-color: $bg-blue;
    padding: 18px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_owner {
      display: flex;
      flex-direction: row;
      width: 70%;

      &-desc {
        padding-left: 20px;
        display: flex;
        flex-direction: column;

        span {
          font-family: Arial;
        }

        &-trust {
          font-size: 14px;
          color: $blue;
        }

        &-city {
          margin-top: 6px;
          font-size: 16px;
          color: $dark-green;

          > img {
            width: 15px;
            height: 15px;
          }
        }

        h3 {
          font-size: 24px;
          font-family: Arial;
          margin-bottom: 2px;

          a {
            text-decoration: none;
            color: $dark-blue;
          }
        }
      }

      &-avatar {
        border-radius: 50%;
        border: 5px solid $blue;
        width: 100px;
        height: 100px;
      }
    }

    &_img {
      border-radius: 50px;
      border: 5px solid $green;
      width: 150px;
      height: 100px;
    }
  }

  &__desc {
    width: 70%;
    height: 120px;
    background-color: white;
    border-radius: 60px;
    border: 2px solid $light-green;
    margin-top: -140px;
    margin-left: 25px;
    padding: 0 24px;
    color: $dark-blue;
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__buttons {
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: -22px;
  }

  &__button {
    cursor: pointer;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    border: 2px solid $dark-blue;
    color: $dark-blue;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    margin-left: 30px;

    > img {
      padding-right: 10px;
      width: 15px;
      height: 15px;
    }

    &:last-child {
      padding: 5px 35px;
    }
  }

  .ac-but{
    width: 140px;
    margin-left: 30px;
    padding: 5px 20px;
    border: 2px solid $dark-blue; 
    border-radius: 25px;
    background-color: $bg-blue;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    color: $dark-blue;
    cursor: pointer;

    &:hover{
      transition: 0.2s all;
      border: 2px solid $dark-green;
      color: $dark-green;
      background: white;
    }
  }
}

@media all and (max-width: 500px) and (min-width: 300px) {
  .post{
    width: 100%;
    margin-bottom: 40px;

    &__top{
      width: 93%;
      height: 150px;
      padding: 0 10px;

      &_owner{
        width: 100%;
        height: 70px;
        align-items: center;

        &-desc{
          h3{
            font-size: 12px;
          }

          &-trust{
            font-size: 8px;
            width: 80px;
          }

          &-city{
            font-size: 9px;

            img{
              width: 10px;
              height: 10px;
            }
          }
        }

        &-avatar{
          margin-left: 10px;
          border: 2px solid $blue;
          width: 30px;
          height: 30px;
        }
      }

      &_img{
        border: none;
        border-radius: 0;
        margin-right: 20px;
        margin-top: 12px;
        width: 50px;
        height: 50px;
      }
    }

    &__desc{
      margin-left: 6px;
      margin-top: -80px;
      width: 75%;
      height: 70px;
      font-weight: 300;
      font-size: 10px;
    }

    &__buttons{
      margin-top: 15px;
      width: 80%;
    }

    &__button{
      font-size: 10px;
      padding: 5px 10px;

      >img{
        width: 10px;
        height: 10px;
      }

      &:last-child{
        margin-left: 60px;
        padding: 5px 20px;
      }
    }

    .ac-but{
      position: absolute;
      width: 80px;
      margin: 30px 110px;
      font-size: 12px;
    }
  }
}

@media all and (max-width: 330px) and (min-width: 300px){
  .post{
    &__button{
      &:last-child{
        margin-left: 15px;
      }
    }

    .ac-but{
      margin: 30px 85px;
    }
  }
}