$bg-blue:#c4deff;
$blue:#4791f2;
$text-blue: #075ac2;
$green: #04bd7a;
$dark-green: #12b584;
$light-green: #35dea6;
$dark-blue: #1e3690;
$orange: #ff8928;
$turquoise: #e2fffb;
$light-purple: #d9e5fd; 